{% extends 'accueil.html.twig' %}

{% block title %}Gestion des entrees{% endblock %}

{% block body %} 

    <div class="row">
    <div class='container col-md-6'>
        <div class="card">
            <div class="card-header">Liste des entrees</div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Identifiant</th>
                        <th>Date</th>
                        <th>Categorie</th>
                        <th>Qunatite recu</th>
                        <th>Produit</th>
                        <th>Action</th>
                        <th>Action</th>
                    </tr>
                    
                    {% for e in entrees %} 
                        <tr>
                            <td> {{ e.id }} </td>
                            <td> {{ e.dateE|date('d/m/y') }} </td>
                            <td> {{ e.categorie }} </td>
                            <td> {{ e.qtE }} </td>
                            <td> {{ e.produit }} </td>
                            <td><a href="{{ path('entree_edit', { 'id': e.id }) }}" class="btn btn-info"> Editer </a></td>
                            <td><a href="{{ path('entree_delete', { 'id': e.id }) }}" class="btn btn-warning"> Archiver </a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        </div>
        <div class='container col-md-6'>
         <div class="card">
            <div class="card-header">Formulaire de gestion des entrees ISI-SHOP DAKAR</div>
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
        </div>
    </div>

 {% endblock %}
